.header {
    position: fixed;
    top: 0px;
    @include span(12);
    z-index: 10;
    background-color: #EEEEEE;
    @include background-image($banner-gradient);
    border-top: .1em solid $yellow;
    border-bottom: .1em solid $darkgreen;
    @include box-shadow(0 .25em .25em rgba(black, 0.4));
    @include susy-breakpoint($bp-medium, $columns-medium) {
        @include span(16);
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        @include span(24);
        border-top: .2em solid $yellow;
    }
}

.mobile-screen-title {
    @include span(6);
    margin: .75em 0px;
    padding: 0px;
    @extend %medium-font;
    @extend %weight-strong;
    text-align: center;
    font-family: $Fabrica;
    a {
        text-decoration: none;
        color: lighten($yellow, 7%);
    }
    @include breakpoint($bp-medium) {
        display: none;
    }
}

.big-screen-title {
    display: none;
    font-family: $Fabrica;
    @extend %base-font;
    @extend %weight-strong;
    @include susy-breakpoint($bp-medium,$columns-medium) {
        display: inline-block;
        @include typeSize(large);
        @include span(8);
        @include rhythm(.75,0,0,.75,16px);
        text-align: center;
        cursor: pointer;
        a {
            text-decoration: none;
            color: $yellow-lite;
            &:hover {
                color: lighten($yellow, 25%);
                text-shadow: $black -.02em 0;
            }
        }
    }
    @include susy-breakpoint($bp-large,$columns-large) {
        @include span(14);
        @include rhythm(.5,0,0,.5,16px);
        text-align: left;
        padding-left: image-width("images/vba-logo-new.png") + 25px;
        &:before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: span(.25 of 24);
            overflow: auto;
            width: image-width("images/vba-logo-new.png");
            height: image-height("images/vba-logo-new.png");
            background: url("images/vba-logo-new.png") no-repeat;
        }
    }
}

.mobile-back-button {
    @include span(3);
    @include rhythm(.5,0,0,.5,16px);
    padding: 0;
    font-family: $Fabrica;
    text-align: center;
    color: rgba($white, .5);
    text-decoration: underline;
    border-right: .1em solid $yellow;
    @include breakpoint($bp-medium) {
        @include rhythm(.75,0,0,.75,16px);
    }
    @include breakpoint($bp-large) {
        display: none;
    }
}
.mobile-menu-button {
    @extend .mobile-back-button;
    border-right: none;
    border-left: .1em solid $yellow;
}