.memberpage {
    @extend %innerpage;
    &-info {
        @include susy-breakpoint($bp-medium,$columns-medium) {
            @include span(16 of 16);
            padding-left: 0;
            margin-bottom: rhythm(3, 16px);
        }
        @include susy-breakpoint($bp-large,$columns-large) {
            @include span(8 of 15);
            padding-left: 0;
        }
        &-primary {
            @include susy-breakpoint($bp-medium,$columns-medium) {
                @include span(6 of 6);
                padding: 0;
                margin: 0;
            }
            @include susy-breakpoint($bp-large,$columns-large) {
                @include span(8 of 8);
                padding: rhythm(1, 16px) 0 0 0;
                margin-bottom: rhythm(1, 16px);
            }
        }
        &-logo {
            margin: 0 auto;
            @include susy-breakpoint($bp-medium,$columns-medium) {
                @include span(3 of 6);
            }
            @include susy-breakpoint($bp-large,$columns-large) {
                @include span(3 of 8);
                min-height: 100px;
            }
        }
        &-details {
            @include clearfix;
            color: $black;
            @include susy-breakpoint($bp-medium,$columns-medium) {
                @include span(3 of 6 last);
                padding-left: 0;
                text-align: right;
            }
            @include susy-breakpoint($bp-large,$columns-large) {
                @include span(5 of 8 last);
                padding-right: gutter(3);
            }
        }
        &-address {
            text-align: center;
            display: block;
            @include susy-breakpoint($bp-medium,$columns-medium) {
                text-align: right;
            }
        }
        &-phone {
            text-decoration: none;
            @extend %mobile-info-buttons;
            @include susy-breakpoint($bp-medium,$columns-medium) {
                cursor: default;
                pointer-events: none;
                text-align: right;
                color: $black;
                border: none;
                background-color: transparent;
            }
        }
        &-link {
            @extend %mobile-info-buttons;
            @include susy-breakpoint($bp-large,$columns-large) {
                text-align: right;
                color: $lightgreen;
                border: none;
                background-color: transparent;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        &-openmap {
            @extend %mobile-info-buttons;
            &:focus {
                color: $darkgreen;
                font-weight: bold;
            }
            @include susy-breakpoint($bp-medium,$columns-medium) {
                padding: rhythm(.25, 16px) gutter(3);
            }
            @include susy-breakpoint($bp-large,$columns-large) {
                display: none;
            }
        }
        &-social {
            &-icon {
                display: inline-block;
                opacity: .5;
                border: .1em solid transparent;
                border-radius: .25em;
                @include transition(background-color 0.3s ease-in, border 0.3s ease-in);
                &:hover {
                    background-color: rgba($black, .2);
                    border: .1em solid rgba($black,.4);
                }
            }
        }
        &-about {
            clear: both;
            float: left;
            @include susy-breakpoint($bp-large,$columns-large) {
                padding-left: 0;
                padding-top: rhythm(1, 16px);
                padding-right: .025em;
                min-height: 600px;
                border-top: .1em solid $darkgreen;
            }
        }
    }
    &-map {
        @include span(12 of 12);
        position: fixed;
        top: 3em;
        right: 100%;
        padding: 0;
        @include transition(all 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940));
        background-color: $white;
        @include susy-breakpoint($bp-medium,$columns-medium) {
            top: 17em;
        }
        @include susy-breakpoint($bp-large,$columns-large) {
            @include span(7 of 15);
            position: relative;
            top: 0;
            padding: 0;
            right: 0%;
            @include clearfix;
            border: .1em solid $lightgreen;
        }
        &-close {
            padding: rhythm(.5, 16px) 0;
            text-align: center;
            font-family: $Fabrica;
            color: $darkgreen;
            background-color: rgba($black, .15);
            border-bottom: .1em solid rgba($black,.4);
            border-top: .1em solid rgba($black,.4);
            @include susy-breakpoint($bp-large,$columns-large) {
                display: none;
            }
        }
        &-google {
            top: 0;
            min-height: 900px;
            overflow: hidden;
        }
    }
}

.memberpage-map.mapmove {
    right: 0%;
}

.social-noshow {
    display: none;
}
