.member-sidebar {
    position: relative;
    font-family: $Fabrica;
    display: none;
    @include susy-breakpoint($bp-medium,$columns-medium) {
        display: block;
        @include span(5 of 16);
        @include squish(1,0);
    }
    @include susy-breakpoint($bp-large,$columns-large) {
        @include span(5 of 24);
        @include squish(2,0);
    }
    &-item {
        @extend %small-font;
        @include susy-breakpoint($bp-medium,$columns-medium) {
            @include span(5 of 5);
            padding-top: rhythm(.5, 16px);
            padding-bottom: rhythm(.5, 16px);
            text-decoration: none;
            border-bottom: 1px solid rgba($darkgreen,.5);
            &:hover {
                background: rgba($green, .05);
            }
            &:active {
                background: rgba($green, .05);
            }
            &:focus {
                background: rgba($green, .05);
            }
            &:last-of-type {
                margin-bottom: rhythm(1, 16px);
            }
        }
    }
    &-image {
        @include susy-breakpoint($bp-medium,$columns-medium) {
            @include span(1 of 5);
        }
    }
    &-name {
        @include susy-breakpoint($bp-medium,$columns-medium) {
            padding-top: rhythm(.5, 16px);
            padding-left: span(5);
        }
        @include susy-breakpoint($bp-large,$columns-large) {
            @include span(4 of 5);
        }
    }
}