.membershipmap-page {
    @include susy-breakpoint($bp-large,$columns-large) {
        @include span(15 of 24);
        @include squish(1,1);
    }
    &-map {
        width: 100%;
        min-height: 50em;
        @include susy-breakpoint($bp-large,$columns-large) {
            height: rhythm(35, 16px);
            padding-left: 0;
        }
    }
}