.nav-menu {
    position: fixed;
    min-height: 100%;
    top: rhythm(2.1, 16px);
    @include translate3d(-100%, 0, 0);
    @include transition(all 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940));
    @include span(6 of 12);
    z-index: 20;
    background-color: #EEEEEE;
    @include background-image($mobile-nav-gradient);
    border-right: .1em solid rgba($darkgreen, .5);
    @include susy-breakpoint($bp-medium,$columns-medium) {
        top: rhythm(2.6, 16px);
    }
    @include susy-breakpoint($bp-large, $columns-large) {
        top: 0px;
        min-height: auto;
        right: 0px;
        @include translate3d(0, 0, 0);
        @include rhythm(1.5,0,.5,0,16px);
        padding-right: rhythm(.25, 16px);
        padding-left: 0px;
        text-align: right;
        background-color: transparent;
        background-image: none;
        border-right: .1em solid transparent;
    }
}

.menu-item {
    display: block;
    padding: rhythm(.5, 16px) span(2 of 12);
    font-family: $Fabrica;
    text-decoration: none;
    color: $yellow;
    @extend %base-font;
    @extend %weight-light;
    border-bottom: .1em solid rgba(darken($darkgreen, 15%), .5);
    @include susy-breakpoint($bp-large, $columns-large) {
        display: inline-block;
        margin: 0px;
        padding: 0 rhythm(.25, 16px);
        border-bottom: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
.current-menu-item {
    color: $white;
}
.close-menu {
    @extend .menu-item;
    @include susy-breakpoint($bp-large, $columns-large) {
        display: none;
    }
}
//AngularJS Mobile Behavior/Animation for Fly-in Menu
.nav-menu.navmove {
    @include translate3d(0, 0, 0);
}