%responsive-trigger {
    &:after {
        content: "phone";
        display: block;
        position: absolute;
        top: 0px;
        left: -1000px;
        @include susy-breakpoint($bp-medium, $columns-medium) {
            content: "tablet";
        }
        @include susy-breakpoint($bp-large, $columns-large) {
            content: "computer";
        }
    }
}

%innerpage {
    @include clearfix;
    position: relative;
    @include span(10);
    @include squish(1,1);
    @include susy-breakpoint($bp-medium,$columns-medium) {
        @include span(9 of 16);
        @include squish(0,1);
    }
    @include susy-breakpoint($bp-large,$columns-large) {
        @include span(15 of 24);
        @include squish(0,2);
        padding-left: span(1 of 15)/2;
    }
    .post-title {
        margin-bottom: rhythm(1, 16px);
    }
}

%mobile-info-buttons {
    display: block;
    margin: rhythm(.5,16px) 0 rhythm(.75,16px) 0;
    padding: rhythm(.5,16px) 0;
    color: $darkgreen;
    text-decoration: none;
    text-align: center;
    border-radius: .25em;
    border: .1em solid rgba($black,.4);
    background-color: rgba($black, .15);
}